<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505172388074-bia62jfsmbno7j8dg19oe9p2jh7tv5gl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505172388074-bia62jfsmbno7j8dg19oe9p2jh7tv5gl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>505172388074-7voebfuq5gg0bkvptj7s7m3a2qd2nkck.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArr-FYFioYY_OyXVzIpcOw3jqOARvGbyw</string>
	<key>GCM_SENDER_ID</key>
	<string>505172388074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esoft.computershop</string>
	<key>PROJECT_ID</key>
	<string>nanotek-esoft</string>
	<key>STORAGE_BUCKET</key>
	<string>nanotek-esoft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505172388074:ios:0b8316341f518069ee8f93</string>
</dict>
</plist>